
.container {
	margin: 0 auto;
}

/* header */
.header {
}

/* header - Контакты - Логотип */
.logo {
	float: left;
	margin: 10px 65px;
}

/* header - Контакты */
.home-contact {
	
}
.cont-contact {
	width: 1230px;
	height: 131px;
	margin: auto;
}
.contact {
	float: right;
}
.contact li {
	display: inline-block;
	font-size: 18px;
	font-family: PTSansRegular;
	margin: 0 15px 0 15px;
}
.contact img {
	top: 4px;
	margin: 0px 15px 0px 15px;
}
.ned {
	font-family: PTSansBold;
	font-weight: 700;
	font-size: 18px;
}
/* header - Кнопка */
.call {
	float: right;
	margin-right: 13px;
	width: 195px;
	background-color: #ffd111;
	border-radius: 5px;
	box-shadow: 0 2px #d6ab00;
}
.call a {
	display: block;
	text-decoration: none;
	width: inherit;
	text-align: center;
	padding: 11px 0 11px 0;
	margin: auto;
	font-family: RalewayBold;
	font-size: 18px;
	font-weight: 500;
	color: black;
}

/* header - clearfix */
.clearfix {
	height: 0;
	clear: both;
}

/* header - Меню */
.home-menu {
	background-color: black;
}
.cont-menu {
	margin: auto;
	width: 1230px;
}
.cont-menu ul {
	text-align: center;
	font-size: 0;
	
}
.cont-menu li {
	display: inline-block;
	margin: 18px 0;
}
.cont-menu a {
	padding: 17px 42px 17px 42px;
	font-family: RalewayRegular;
    font-size: 14px;
    font-weight: 500;
    color: white;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}
.cont-menu a:hover {
	background-color: #2b88d5;
}

/* main - Фон */
.main {
}
.main-img {
	background-image: url(../img/main_pic.png);
	background-position:  50% 50%;
	height: 660px;
}
.cont-head {
	width: 1230px;
	margin: auto;
}
.head {
	position: relative;
	top: 65px;
	left: 65px;
}
.head p {
	margin: 0;
	white-space: pre-line;
}
.head #one {
	font-family: RalewayExtraBold;
	font-size: 48px;
}
.head #two {
	font-family: RalewayRegular;
	font-size: 25px;
	font-weight: 500;
	line-height: 28px;
}
.click-view {
	position: relative;
	top: 135px;
	left: 65px;
	background-color: #ffd111;
	border: 1px solid #ffd111;
	width: 240px;
	box-shadow: 0 2px #d6ab00;
	border-radius: 5px;
}
.click-view a {
	display: block;
	width: inherit;
	text-decoration: none;
	margin: auto;
	text-align: center;
	color: black;
	font-family: RalewayBold;
	font-size: 18px;
	padding: 11px 0 11px 0;
}
	

	

	