.container {
	margin: 0 auto;
}
.button {
	display: block;
	text-decoration: none;
	width: inherit;
	text-align: center;
	color: black;
	background-color: #ffd111;
	border-radius: 5px;
	box-shadow: 0 2px #d6ab00;
	font-family: RalewayBold;
	font-size: 18px;
}
/* header */
.header {
}

/* header - Контакты - Логотип */
.logo {
	float: left;
	margin: 10px 65px;
}

/* header - Контакты */
.home-contact {
	
}
.cont-contact {
	width: 1230px;
	height: 131px;
	margin: auto;
}
.contact {
	float: right;
}
.contact li {
	display: inline-block;
	font-size: 18px;
	font-family: PTSansRegular;
	margin: 0 15px 0 15px;
}
.contact img {
	top: 4px;
	margin: 0px 15px 0px 15px;
}
.ned {
	font-family: PTSansBold;
	font-weight: 700;
	font-size: 18px;
}
/* header - Кнопка */
.call {
	float: right;
	margin-right: 13px;
	width: 195px;
	
}
.call a {
	padding: 11px 0 11px 0;
}

/* header - clearfix */
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

/* header - Меню */
.home-menu {
	background-color: black;
}
.cont-menu {
	margin: auto;
	width: 1230px;
}
.cont-menu ul {
	text-align: center;
	font-size: 0;
	
}
.cont-menu li {
	display: inline-block;
	margin: 18px 0;
}
.cont-menu a {
	padding: 17px 42px 17px 42px;
	font-family: RalewayRegular;
    font-size: 14px;
    font-weight: 500;
    color: white;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}
.cont-menu a:hover {
	background-color: #2b88d5;
}

/* main - Фон */
.main {
}
.main-img {
	background-image: url(../img/main_pic.png);
	background-position:  50% 50%;
	height: 660px;
}
.cont-head {
	width: 1230px;
	margin: auto;
}
.head {
	position: relative;
	top: 65px;
	left: 65px;
}
.head p {
	margin: 0;
	white-space: pre-line;
}
.head #one {
	font-family: RalewayExtraBold;
	font-size: 48px;
}
.head #two {
	font-family: RalewayRegular;
	font-size: 25px;
	font-weight: 500;
	line-height: 28px;
}
.click-view {
	margin-top: 135px;
	margin-left: 65px;
	width: 240px;
}
.click-view a {
	padding: 11px 0 11px 0;
}

/* main - Новостройки */
.main-head {
	background-color: #f7f7f7;
}
.cont-head2 {
	width: 1230px;
	margin: auto;
}
.cont-head2 > p {
	position: relative;
	padding: 67px 65px;
	margin: inherit;
	font-family: RalewayRegular;
	font-size: 36px;
	font-weight: 500;
	text-transform: uppercase;
}
.cont-block1 {
	float: left;
	width: 583px;
	height: 340px;
}
.cont-block2 {
	border-left: 2px solid lightgray;
	float: right;
	width: 583px;
	height: 340px;
	background-color: white;
}
.cont-block2 .text-one {
	font-family: RalewayBold;
	font-size: 30px;
	font-weight: 700;
	color: black;
	position: relative;
	top: 20px;
	left: 52px;
}
.cont-block2 .text-two {
	font-family: PTSansRegular;
	font-size: 18px;
	color: #999999;
	white-space: pre-line;
	line-height: 30px;
	position: relative;
	left: 52px;
	bottom: 10px;
}
.cont-block #block {
	border: 1px solid lightgray;
	height: 340px;
	margin-top: 30px;
}

/* Первый блок */
.cont-head2 .cont-block {
	width: 1170px;
	margin-left: 65px;
}
.one .cont-block1 {
	background-image: url(../img/novaya-zhizn.png);
}

/* Второй блок */
.two .cont-block1 {
	background-image: url(../img/avrora.png);
}

/* Третий блок */
.three .cont-block1 {
	background-image: url(../img/parusa.png);
}

/* Четвертый блок */
.four .cont-block1 {
	background-image: url(../img/cheremushki.png);
}
.four #text-one {
	white-space: pre-line;
}

/* main - Условия */
.cont-circs {
	width: 1170px;
	height: 219px;
	margin-left: 65px;
}
#circs {
	border: 1px solid lightgray;
	float: left;
	height: 197px;
	background-color: white;
	padding: 20px 0 0 25px;
}
.circs1 {
	width: 245px;
}
.circs2 {
	margin-left: 30px;
	width: 245px;
}
.circs3 {
	margin-left: 30px;
	width: 539px;
}
.text-circs {
	font-family: PTSansBold;
	font-size: 24px;
	font-weight: 700;
	margin: 0;
}
#circs ul {
	padding-left: 23px;
	margin-top: 29px;
}
#list {
	list-style-image: url(../img/success.png);
	list-style-position: outside;
	margin-top: 5px;
	font-family: PTSansRegular;
	font-size: 18px;
	color: #999999;
}
#h-circs {
	padding: 80px 65px 50px;
}
.circs-text {
	font-family: PTSansBold;
	font-size: 16px;
	font-weight: 500;
	
}
.circs-text a {
	color: #2b88d5;
	text-decoration: none;
}
.img-mrgn {
	position: relative;
	top: 1px;
}

/* Отзывы */
.review {
	width: 1230px;
	margin-left: 36px;
	margin-top: 68px;
}
.cont-review {
	width: 1170px;
	height: 650px;
	margin: auto;
}
.cont-review > p {
	font-family: RalewayRegular;
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 98px;
}
.block-review {
	margin-top: 62px;
}
#review {
	float: left;
	width: 325px;
	height: 468px;
}
.block-review .one {
}
.block-review .two {
	margin-left: 79px;
}
.block-review .three {
	margin-left: 79px;
}
.block-review img {
	margin: 5px 5px;
}
.p-rev p {
	display: block;
	font-family: RalewayBold;
	font-size: 18px;
}
.img-rev {
	float: left;
	width: 130px;
}
.p-rev {
	float: left;
	width: 143px;
	height: 0;
	padding: 0;
	position: relative;
	top: 98px;
}
.text-rev p {
	font-family: PTSansRegular;
	font-size: 14px;
	white-space: pre-wrap;
}

/* main - Подробности */
.main-family {
	border: 8px solid #ffd111;
	width: 1170px;
	height: 530px;
	margin: 121px auto;
	position: relative;
	left: 35px;
}
.family {
	
	width: 585px;
	height: 530px;
}
.family.one {
	float: left;
	background-image: url(../img/family.png);
	background-position: 75% 50%;
}
.family.two {
	float: right;
	
}
.family-pics {
	margin-left: 12px;
}
.pics {
	float: left;
	text-align: center;
}
.pics.two {
	margin-left: 36px;
}
.pics.three {
	margin-left: 36px;
}
.pics p {
	font-family: RalewayBold;
	font-size: 14px;
	white-space: pre-line;
}
.p1 {
	font-family: RalewayRegular;
	font-size: 36px;
	text-transform: uppercase;
	padding-top: 10px;
}
.p2 {
	font-family: RalewayBold;
	font-size: 48px;
	color: #ff2400;
	text-transform: uppercase;
	position: relative;
	left: 90px;
}


	

	

	